.filterContainer {
    display: flex;
    align-items: center;
    justify-content: center; /* Agrega esta línea para centrar horizontalmente */
    margin-bottom: 20px; /* Añade margen inferior para separar del contenido siguiente */
  }
  

.filterSelect {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    transition: border-color 0.2s ease-in-out;
}

.filterSelect:focus {
    outline: none;
    border-color: #007bff;
}
  