.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; 
    background-image: url('../../imagenes/landing-fondo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .title {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #fff;
    font-family: Arial, sans-serif;
    letter-spacing: 3px;
    text-align: center; /* Alinear el título al centro */
  }
  
  .link {
    text-decoration: none;
  }
  
  .button {
    background-color: rgb(39, 37, 37);
    color: #fff;
    font-size: 1rem;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.8;
    margin-top: 1rem; 
    padding: 0.5rem 1rem; /* Reducir el padding para que el botón sea más compacto */
    margin-top: 0.5rem; /* Reducir el margen superior */
  }
  
  .button:hover {
    background-color: rgb(39, 37, 37);
    opacity: 1.0;
  }
  
  /* Media Query para pantallas pequeñas */
@media screen and (max-width: 600px) {
  .title {
    font-size: 1.5rem; /* Reducir el tamaño del título */
    margin-bottom: 0.5rem; /* Reducir el margen inferior */
  }

  .button {
    padding: 0.4rem 0.8rem; /* Reducir el padding para tamaños pequeños */
    margin-top: 0.3rem; /* Reducir el margen superior */
    align-self: center; /* Centrar horizontalmente el botón */
  }
}

  