.card {
  width: 300px;
  height: 300px;
  top: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 0px 0px 5px 5px #646161;
  border-radius: 30px;
  text-align: center;
  background-color: rgba(177, 176, 176, 0.8);
}

.details {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
}

.name {
  font-size: 1.5rem;
  margin-bottom: 8px;
  margin-top: 20px;
}


.property {
  margin-bottom: 4px;
}

.property strong {
  font-weight: bold;
}

.difficulty,
.duration,
.season,
.country {
  color: #333;
}

.difficulty {
  font-weight: bold;
  color: #ff5722;
}

.duration {
  font-weight: bold;
  color: #03a9f4;
}

.season {
  font-weight: bold;
  color: #4caf50;
}

.country {
  font-weight: bold;
  color: #9c27b0;
}


.country {
  font-weight: bold;
  color: #9c27b0;
}

.deleteButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border-radius: 20%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}


.deleteButton:hover {
  color: #f44336;
}